.title {
  color: #363636;
  font-size: 45px;
  font-weight: 900;
}

.title span {
  color: #d90647;
}

.main-header {
  background: url("../img/header-bg.svg") no-repeat 78%, #fff;
  height: 100vh;
  width: 100%;
}

.main-header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 100px;
  width: 100%;
}

.main-header nav .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  margin-right: 200px;
  margin-top: 10px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
}

.main-header nav .main-menu li {
  margin-left: 30px;
}

.main-header nav .main-menu li a {
  color: #fff;
  text-decoration: none;
}

.main-header .app-desc {
  color: #fff;
  float: left;
  margin-left: 210px;
  margin-top: 170px;
}

.main-header .app-desc h1 {
  font-size: 60px;
  font-weight: 900;
  width: 350px;
}

.main-header .app-desc p {
  font-size: 20px;
  margin-top: 37px;
}

.main-header .app-desc button {
  background: #fff;
  border-radius: 25px;
  border: 0;
  color: #d90647;
  cursor: pointer;
  font-size: 15px;
  height: 40px;
  margin-top: 100px;
  width: 200px;
}

.main-header .iPhone {
  float: left;
  height: 630px;
  margin-left: 200px;
  margin-top: 100px;
  width: 370px;
}

.features {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 100px;
}

.features .easy-mes, .features .in-touch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  width: 1000px;
}

.features .easy-mes p, .features .in-touch p {
  color: #808080;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 25px;
  width: 460px;
}

.features .easy-mes {
  margin-left: 180px;
}

.features .easy-mes .messages {
  height: 450px;
  width: auto;
  z-index: 1;
}

.features .easy-mes .conversation {
  height: 475px;
  margin-left: -150px;
  margin-top: 40px;
  width: auto;
  z-index: 2;
}

.features .easy-mes .ft-text {
  margin-left: 100px;
  margin-top: 160px;
}

.features .in-touch {
  margin-left: 250px;
  margin-top: 20px;
}

.features .in-touch .contacts {
  height: 450px;
  margin-right: -110px;
  margin-top: 60px;
  width: auto;
  z-index: 2;
}

.features .in-touch .groups {
  height: 390px;
  width: auto;
  z-index: 1;
}

.features .in-touch .ft-text {
  margin-right: 20px;
  margin-top: 160px;
}

.people-say {
  padding-bottom: 100px;
  padding-top: 60px;
  text-align: center;
}

.people-say .comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 250px;
  margin-top: 60px;
}

.people-say .comments .comment .comment-text {
  border: 1px solid #eee;
  color: #808080;
  font-size: 14px;
  font-style: italic;
  height: 130px;
  line-height: 1.5;
  padding: 15px;
  text-align: left;
  width: 290px;
}

.people-say .comments .comment .comment-text span {
  color: #d90647;
  display: block;
  font-style: normal;
  letter-spacing: 1.1px;
}

.people-say .comments .comment .triangle {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #eee;
  height: 0;
  margin-left: 20px;
  width: 0;
}

.people-say .comments .comment .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5px;
  margin-top: 15px;
}

.people-say .comments .comment .author img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.people-say .comments .comment .author .author-name {
  color: #363636;
  font-size: 16px;
  letter-spacing: 1.08;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-top: 7px;
  text-align: left;
}

.people-say .comments .comment .author .author-profession {
  color: #667386;
  font-size: 14px;
  margin-left: 20px;
  text-align: left;
}

.people-say .comments .comment1 {
  margin-right: 20px;
  margin-top: 25px;
}

.people-say .comments .comment2 {
  margin-right: 20px;
}

.people-say .comments .comment3 {
  margin-top: 25px;
}

.actions {
  background: -webkit-gradient(linear, left bottom, left top, from(#eb402c), to(#d90647));
  background: linear-gradient(to top, #eb402c, #d90647);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  overflow-x: visibile;
  width: 100%;
}

.actions .start-conv, .actions .free-call {
  margin-left: 150px;
  text-align: right;
}

.actions .picture, .actions .video {
  margin-left: -430px;
}

.actions .start-conv, .actions .picture {
  margin-top: 50px;
}

.actions .action {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
}

.actions .action h3 {
  font-size: 22px;
  font-weight: 900;
  letter-spacing: 1.4px;
  margin-top: 50px;
}

.actions .action p {
  font-size: 14px;
  letter-spacing: 0.96px;
  line-height: 28px;
  margin-top: 10px;
  opacity: 0.6;
}

.actions .action object, .actions .action .ic_phone {
  color-fill: #fff;
  fill: #fff;
  height: 50px;
  margin-top: 50px;
  stroke: #fff;
  width: 50px;
}

.actions .action .left-icons {
  margin-left: 20px;
  margin-right: -50px;
}

.actions .action .right-icons {
  margin-left: -50px;
  margin-right: 20px;
}

.actions .iphone-video {
  height: 700px;
  margin-left: 80px;
  margin-top: -100px;
  margin: 0 auto;
  width: auto;
  z-index: 1;
}

.actions .dark-bg {
  height: 493px;
  margin-top: -20px;
  opacity: 0.6;
  position: relative;
  right: 36.4%;
  width: auto;
  z-index: 2;
}

.actions .play-circle {
  cursor: pointer;
  height: 50px;
  position: relative;
  right: 47.5%;
  top: 37%;
  width: 50px;
  z-index: 3;
}

.subscribe {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 100px;
  padding-top: 120px;
  text-align: center;
}

.subscribe .email {
  background-color: #f8f8f8;
  border-radius: 25px;
  border: 0;
  color: #808080;
  font-size: 18px;
  height: 40px;
  padding-left: 25px;
  width: 525px;
  z-index: 1;
}

.subscribe .sub-btn {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#eb402c), to(#d90647));
  background-image: linear-gradient(to top, #eb402c, #d90647);
  border-radius: 25px;
  border: 0;
  -webkit-box-shadow: 0px 10px 30px 0 rgba(223, 27, 61, 0.3);
  box-shadow: 0px 10px 30px 0 rgba(223, 27, 61, 0.3);
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  height: 40px;
  margin-left: -160px;
  width: 160px;
  z-index: 2;
}

.text {
  color: #808080;
  font-size: 16px;
  margin-bottom: 60px;
  margin-top: 40px;
}

.download {
  padding-bottom: 120px;
  padding-top: 80px;
  text-align: center;
}

.download .app-icon {
  height: 160px;
  margin-bottom: 30px;
  width: 160px;
}

.download .app-store {
  height: 60px;
  margin-top: 20px;
  width: 180px;
}

.main-footer {
  border-top: 1px solid #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 180px;
}

.main-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}

.main-footer ul li {
  font-size: 15px;
  margin-right: 30px;
  text-transform: uppercase;
}

.main-footer ul li a {
  color: #363636;
  text-decoration: none;
}

.main-footer select {
  margin-left: 450px;
  width: 180px;
}
